.Auth {
    width: 100vw;
    height: 100vh;
    background-image: -webkit-linear-gradient(351deg, #0fb5f7, #64cffa 40%, #b8ebff 73%, #edfaff);
    background-image: -o-linear-gradient(351deg, #0fb5f7, #64cffa 40%, #b8ebff 73%, #edfaff);
    background-image: linear-gradient(99deg, #0fb5f7, #64cffa 40%, #b8ebff 73%, #edfaff);
    position: absolute;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    color: white;
  }
  
  .auth_container {
    border-radius: 8px;
    -webkit-box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
            box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
    background-image: -webkit-linear-gradient(353deg, #2664ff, #d6e2ff);
    background-image: -o-linear-gradient(353deg, #2664ff, #d6e2ff);
    background-image: linear-gradient(97deg, #2664ff, #d6e2ff);
    width: 35vw;
    height: 55vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px;
  }
  .auth_title {
    font-size: 80px;
    font-weight: 700;
  }
  
  .auth_input_box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 55%;
  }
  
  .auth_input_box > input:focus {
    outline-color: #64cffa;
    outline-width: 5px;
  }
  
  .auth_button_container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 55%;
  }